* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: linear-gradient(135deg, #037971, #EBDCCB ,#8C5383); /* New gradient color */
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    text-align: center;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    animation: gradient 10s ease infinite;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color:rgb(29, 29, 29);
    background :-moz-linear-gradient(#C0da74,#9f838C,#468C98)
   
    
  }
  
  #reset-btn,
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background: #037971;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #468C98;
    font-size: 5vmin;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }
